<nav class="navbar navbar-expand-lg navbar-light bg-white" style="border-bottom: 2px solid #00475D;">
    <a class="navbar-brand textColor fw-medium ms-5" href="#">Grammar and Efficacy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <!-- Add links if necessary -->
            </li>
        </ul>
        <!-- Logo -->
        <img src="/assets/images/logo-head.JPG" alt="Logo" class="ms-auto mb" style="height: 50px;">
    </div>
</nav>
<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center TopMargin">
          <div class="textColor fw-normal mb-4">
            Vous lisez un article sur la protection de l'environnement. Quel est le point principal de l'article?
          </div>
         <div class="centyer">
              <div class="border-box mb-3 textColor fw-normal">
                A) Les avantages de l'énergie renouvelable par rapport aux énergies fossiles.
              </div>
              <div class="border-box mb-3 textColor fw-normal">
                B) Les conséquences de la déforestation sur les écosystèmes locaux.
              </div>
              <div class="border-box mb-3 textColor fw-normal">
                C) Les stratégies pour réduire les déchets plastiques dans les océans.
              </div>
              <div class="border-box mb-3 textColor fw-normal">
                D) Les initiatives gouvernementales pour promouvoir le recyclage.
              </div>
              <!-- <div class="text-center my-4" >
                <button [routerLink]="['/reading']"  routerLinkActive="router-link-active"  type="button" class="btn btn-danger">Submit</button>
            </div> -->
         </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Footer Buttons -->
    <div class="row ">
        <div class="col-lg-5 topMar">        
          <button class="btn btn-light border mt-2" style="margin-left: 16rem">
            &nbsp; <i class="bi bi-bookmark-fill" style="color: #b0181b"></i>&nbsp;
            Bookmark
          </button>
        </div>
        <div class="col-lg-5 topMar ms-3">
          <!-- <img src="/assets/images/mic.svg" width="80" class="" alt="" srcset="" />
          <br /> -->
          <button 
            [routerLink]="['/pages/cloze']" style="width: 18%;"
            routerLinkActive="router-link-active"
            class="btn btn-danger mt-3 ms-0"
          >
            Submit
          </button>
        </div>
      </div>
  