<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
      </ul>
      <img
        src="/assets/images/logo-head.JPG"
        alt="Recruitory Logo"
        style="height: 50px"
      />
    </div>
  </nav>
  
  <div class="container TopMargin">
    <main>
      <section class="attempt-status">
           <p class="textColor fw-medium mb-5">You’ve completed your assessment. Your report will be sent to your E-mail ID. <br>
            For any discrepancies, Please reach out on support&#64;verbiq.com</p>
       
          <p class="textRed" [routerLink]="['/pages/mcq-ui']" role="button" routerLinkActive="router-link-active" >Go to Home page >></p>
                
      </section>      
    </main>
  </div>