<nav class="navbar navbar-expand-lg navbar-light bg-white" style="border-bottom: 2px solid #00475D;">
    <a class="navbar-brand textColor fw-medium ms-5" href="#">Comprehension</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <!-- Add links if necessary -->
            </li>
        </ul>
        <!-- Logo -->
        <img src="/assets/images/logo-head.JPG" alt="Logo" class="ms-auto mb" style="height: 50px;">
    </div>
</nav>
<div class="question-header p-2 me-3">
    <span>01:20 mins</span>
  </div>

<div class="container">
    
    <div class="content">
      <div class="passage">
        <p>
          La France est l'un des pays les plus visités au monde, attirant des millions de touristes chaque année grâce à ses sites historiques, sa culture riche et sa cuisine renommée. Paris, la capitale, est célèbre pour ses monuments emblématiques comme la Tour Eiffel, le Louvre et la Cathédrale Notre-Dame. En dehors de Paris, la Provence offre des paysages pittoresques avec ses champs de lavande et ses villages charmants, tandis que la Côte d'Azur séduit par ses plages ensoleillées et ses stations balnéaires luxueuses. Les amateurs de vin ne manqueront pas de visiter les vignobles de Bordeaux et de Bourgogne, connus pour produire certains des meilleurs vins du monde.
        </p>
        <p>
          En outre, la France est également un centre d'innovation technologique et de développement durable, avec de nombreuses initiatives visant à réduire l'empreinte carbone du pays. Que vous soyez intéressé par l'histoire, la gastronomie, ou les avancées technologiques, la France a quelque chose à offrir à chaque visiteur.
        </p>
      </div>
      <div class="question-section">
        
        <div class="question">
            <p>1. Quelle est la capitale de la France?</p>
            <div class="options">
              <div class="option" data-value="A">A) Marseille</div>
              <div class="option" data-value="B">B) Lyon</div>
              <div class="option" data-value="C">C) Paris</div>
              <div class="option" data-value="D">D) Bordeaux</div>
            </div>
           <div class="d-flex justify-content-end"> <button [routerLink]="['/pages/error']" routerLinkActive="router-link-active"  class="submit-button">Submit</button></div>
          </div>
          
      </div>
    </div>
  </div>